[Unit]
Description=keypadhandler
After=network-pre.target network.target network-online.target

[Service]
Type=simple
ExecStart=/opt/keypad/keypadhandler.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target